* {
  background-color: rgb(34, 34, 34);
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

input {
  padding: 10px 20px;
  border: 2px solid rgb(59, 59, 185);
  border-radius: 15px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

button {
  background: transparent;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  border: rgb(59, 59, 185) 2px solid;
  color: rgb(97, 97, 201);
  font-weight: 600;
}

button:hover {
  background: rgb(59, 59, 185);
  color: white;
}
